$colorPrimary: #ff1f1f;
$dropdownBg: rgba(#000a17, 0.4);
$textColor: #fff;
$placeholderColor: rgba(#ffe5e5, 0.4);
$suffixIconColor: rgba(#ffe5e5, 0.4);

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; //此处去掉默认的小×
}

.ant-btn:has(i[class~="anticon"]) {
  display: inline-flex;
  align-items: center;
}

div.layout-default-wrapper {
  .ant-picker,
  .ant-picker.ant-picker-status-error,
  .ant-picker.ant-picker-status-error:hover {
    &,
    &:not([disabled]) {
      background-color: $dropdownBg;
      border-color: $placeholderColor;
      padding: 5.5px 11px 5.5px;
    }

    .ant-picker-input {
      input {
        color: $textColor;
        font-size: 12px;

        &::placeholder {
          color: $placeholderColor;
        }
      }
    }

    .ant-picker-clear,
    .ant-picker-clear:hover {
      background-color: transparent;
      color: $textColor;
    }

    .ant-picker-suffix,
    .ant-picker-range-separator .ant-picker-separator {
      color: $suffixIconColor;
    }
  }

  input.ant-input {
    background-color: $dropdownBg;
    border-color: $placeholderColor;
    color: $textColor;
    font-size: 12px;
    &[type="search"] {
      -webkit-appearance: none;
    }
    &:hover,
    &:focus {
      border-color: $colorPrimary;
    }

    &::placeholder {
      color: $placeholderColor;
    }
  }

  .ant-input-number {
    background-color: $dropdownBg;
    border-color: $placeholderColor;
    .ant-input-number-input-wrap {
      input {
        color: $textColor;
      }
    }
    .ant-input-number-handler-wrap {
      background-color: rgba(#fff, 0.2);
      span span {
        color: $textColor;
      }
    }
  }

  span[class^="ant-input"] {
    background-color: $dropdownBg;
    input {
      background-color: transparent;
    }

    border-color: $placeholderColor;
    color: $textColor;
    font-size: 12px;

    .ant-input-prefix,
    .ant-input-suffix {
      background-color: transparent;
      color: $suffixIconColor;
    }

    .ant-input-suffix {
      .ant-input-clear-icon {
        .anticon-close-circle {
          color: $suffixIconColor;
        }
      }
    }
  }
  .ant-select.ant-select-auto-complete {
    .ant-select-selection-search {
      input.ant-input {
        background-color: transparent;
      }
      .ant-input-prefix,
      .ant-input-suffix {
        background-color: transparent;
        color: $suffixIconColor;
      }
    }
  }
  .ant-select:not(.ant-select-customize-input) {
    .ant-select-selector {
      background-color: $dropdownBg;
      border-color: $placeholderColor;

      input[type="search"] {
        color: $textColor;
      }

      .ant-select-selection-placeholder {
        color: $placeholderColor;
        font-size: 12px;
      }

      .ant-select-selection-item {
        color: $textColor;
        font-size: 12px;
      }
    }

    .ant-select-arrow {
      color: $suffixIconColor;
    }

    .ant-select-clear {
      background-color: transparent;
      color: $textColor;
    }

    &.ant-select-multiple {
      .ant-select-selection-overflow-item {
        .ant-select-selection-item {
          background-color: rgba($colorPrimary, 0.1);
          border-color: rgba($colorPrimary, 0.3);

          .ant-select-selection-item-remove {
            color: rgba($colorPrimary, 0.3);

            &:hover {
              color: rgba($colorPrimary, 0.6);
            }
          }
        }
      }
    }
  }

  .ant-picker-dropdown {
    .ant-picker-panel-container {
      background-color: $dropdownBg;
      border: 1px solid $colorPrimary;
      backdrop-filter: blur(10px);

      .ant-picker-panel {
        .ant-picker-date-panel,
        .ant-picker-year-panel,
        .ant-picker-month-panel {
          .ant-picker-header {
            color: rgba($textColor, 0.88);

            & > button[class$="btn"] {
              color: rgba($textColor, 0.45);
            }
          }

          .ant-picker-body {
            .ant-picker-content {
              thead tr th {
                color: rgba($textColor, 0.88);
              }

              tbody tr td {
                &.ant-picker-cell-in-view {
                  color: rgba($textColor, 0.88);
                }

                &.ant-picker-cell:not(.ant-picker-cell-in-view) {
                  color: rgba($textColor, 0.25);
                }

                &.ant-picker-cell-range-start,
                &.ant-picker-cell-range-end,
                &.ant-picker-cell-in-range {
                  &:before {
                    background-color: rgba($colorPrimary, 0.2);
                  }
                }

                &.ant-picker-cell-range-hover-start,
                &.ant-picker-cell-range-hover-end {
                  .ant-picker-cell-inner:after {
                    background-color: rgba($colorPrimary, 0.5);
                  }
                }
              }
            }
          }
        }

        .ant-picker-footer {
          border-top-color: rgba($textColor, 0.1);

          .ant-picker-today-btn {
            color: rgba($colorPrimary, 0.6);

            &:hover {
              color: $colorPrimary;
            }
          }
        }
      }
    }
  }

  .ant-select-dropdown {
    background-color: $dropdownBg;
    border: 1px solid $colorPrimary;
    backdrop-filter: blur(10px);
    .ant-select-item {
      color: rgba($textColor, 0.88);

      &.ant-select-item-option-selected,
      &.ant-select-item-option-active {
        color: rgba($textColor, 0.88);
        background-color: rgba($colorPrimary, 0.2);
      }
    }

    .ant-empty {
      color: rgba($textColor, 0.88);
    }

    .ant-select-tree {
      background-color: transparent;
      .ant-select-tree-list {
        .ant-select-tree-treenode {
          .ant-select-tree-title {
            color: rgba($textColor, 0.88);
          }
          .ant-select-tree-switcher {
            .anticon-caret-down {
              color: rgba($textColor, 0.88);
            }
          }
          &.ant-select-tree-treenode-selected {
            .ant-select-tree-node-content-wrapper {
              background-color: rgba($colorPrimary, 0.2);
              .ant-select-tree-title {
                color: rgba($textColor, 0.88);
              }
            }
          }
        }
      }
    }
  }

  .ant-form {
    .ant-form-item {
      .ant-col.ant-form-item-label {
        label {
          color: #fff;
          font-size: 12px;
        }
      }
      .ant-form-item-no-colon {
        color: #9e9e9e;
      }
    }
  }

  ul.ant-pagination,
  ul.ant-pagination.ant-pagination-mini {
    text-align: right;

    li.ant-pagination-total-text {
      color: #ffdeb6;
      font-size: 12px;
    }

    li.ant-pagination-item,
    li.ant-pagination-prev,
    li.ant-pagination-next {
      margin-left: 5px;
      button.ant-pagination-item-link,
      &:not(.ant-pagination-item-active) {
        background-color: #211616;
        border: 1px solid rgba(147, 197, 245, 0.4);

        a,
        span {
          color: white;
        }
      }

      &.ant-pagination-item-active {
        background-color: #c29789;
        border: 1px solid #c29789;

        a {
          color: #000;
        }
      }
    }
    li.ant-pagination-prev,
    li.ant-pagination-next {
      &.ant-pagination-disabled {
        button.ant-pagination-item-link span {
          color: #9e9e9e;
        }
      }
    }
    .ant-pagination-options-quick-jumper {
      color: #ffdeb6;
      font-size: 12px;
      input {
        background-color: $dropdownBg;
        border-color: $placeholderColor;
        color: white;
        font-size: 12px;
      }
    }
  }
}
