/* 设置滚动条的整体样式 */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* 设置滚动条轨道的样式 */
::-webkit-scrollbar-track {
  background: #ffffff2a;
  border-radius: 10px;
}

/* 设置滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
  background: #ff4747;
  border-radius: 10px;
}

/* 鼠标悬停时滑块的样式 */
::-webkit-scrollbar-thumb:hover {
  background: #e22424;
}

/* 设置滚动条角落的样式 */
::-webkit-scrollbar-corner {
  background: #e22424;
}
